<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppPathAsFirstArg</key>
	<true/>
	<key>Creator</key>
	<string>Platypus-4.4</string>
	<key>DropSuffixes</key>
	<array>
		<string>*</string>
	</array>
	<key>DropTypes</key>
	<array>
		<string>****</string>
		<string>fold</string>
	</array>
	<key>Droppable</key>
	<true/>
	<key>InterpreterParams</key>
	<array/>
	<key>OutputType</key>
	<string>Text Window</string>
	<key>RemainRunningAfterCompletion</key>
	<true/>
	<key>RequiresAdminPrivileges</key>
	<true/>
	<key>ScriptInterpreter</key>
	<string>/bin/sh</string>
	<key>Secure</key>
	<true/>
	<key>TextBackground</key>
	<string>#ffffff</string>
	<key>TextEncoding</key>
	<integer>4</integer>
	<key>TextFont</key>
	<string>Monaco</string>
	<key>TextForeground</key>
	<string>#000000</string>
	<key>TextSettings</key>
	<data>
	YnBsaXN0MDDUAQIDBAUICwxUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABogkKVSRudWxsTxEUkyMhL2Jpbi9zaAojCgoKVXRpbFBhdGg9IiQxL0Nv
	bnRlbnRzL1Jlc291cmNlcy8iCkZ1bGxEcm9wTmFtZT0iJDIiIApEaXJEcm9wTmFtZT0k
	KGRpcm5hbWUgIiRGdWxsRHJvcE5hbWUiKSAKQmFzZURyb3BOYW1lPSQoYmFzZW5hbWUg
	IiRGdWxsRHJvcE5hbWUiKSAKSG9tZURpcj1+CgpQUk9HUkFNPSQoYmFzZW5hbWUgIiQx
	IikKVmVyc2lvbj0iMS4zMSIKQ3JlYXRvcj0iY1ZhZCIKUmVsZWFzZWQ9IjIwMTEiCkFT
	TFZlcnNpb249YCIke1V0aWxQYXRofWlhc2wiIHwgZ3JlcCAiQVNMIE9wdGltaXppbmcg
	Q29tcGlsZXIiYAoKU3lzdGVtU3BlY01TRygpIHsKCiNCbG9jayBzaG93IHN5c3RlbSBz
	cGVjaWZpY2F0aW9ucwpLRVJOX1ZlcnNpb249YGVjaG8gJChzeXNjdGwgLW4ga2Vybi52
	ZXJzaW9uIHwgY3V0IC1kICI7IiAtZjEpYApLZXJuT1NSZWxlYXNlPWBzeXNjdGwgLW4g
	a2Vybi5vc3JlbGVhc2UgfCBjdXQgLWQgIi4iIC1mMWAKCk1PREVMX0lEPWBzeXNjdGwg
	LW4gaHcubW9kZWxgCiNTV19WZXJzaW9uPWBlY2hvICQoc3dfdmVycylgClRlc3RfVGlt
	ZT1gZWNobyAkKGRhdGUgIislWS0lbS0lZCAlSDolTTolUyAleiIpYAoKUHJvZHVjdE5h
	bWU9YHN3X3ZlcnMgfGdyZXAgUHJvZHVjdE5hbWVgClByb2R1Y3RWZXJzaW9uPWBlY2hv
	ICQoc3dfdmVycyB8Z3JlcCBQcm9kdWN0VmVyc2lvbilgCkJ1aWxkVmVyc2lvbj1gZWNo
	byAkKHN3X3ZlcnMgfGdyZXAgQnVpbGRWZXJzaW9uKWAKClVzZXI9JFVTRVIKS0VSTl9I
	b3N0bmFtZT1gc3lzY3RsIC1uIGtlcm4uaG9zdG5hbWVgCktFUk5fQm9vdGFyZ3M9YHN5
	c2N0bCAtbiBrZXJuLmJvb3RhcmdzYAoKQ1BVX1RZUEU9ImBzeXNjdGwgLW4gbWFjaGRl
	cC5jcHUuYnJhbmRfc3RyaW5nIHwgc2VkICdzLyAgKi8gL2cnYCIKQ1BVX0ZFQVRVUkVT
	PSJgc3lzY3RsIC1uIG1hY2hkZXAuY3B1LmZlYXR1cmVzYCBgc3lzY3RsIC1uIG1hY2hk
	ZXAuY3B1LmV4dGZlYXR1cmVzYCIKQ1BVRnJlcXVlbmN5X01BWD0kKChgc3lzY3RsIC1u
	IGh3LmNwdWZyZXF1ZW5jeV9tYXhgLzEwMDAwMDApKQpDUFVGcmVxdWVuY3lfTUlOPSQo
	KGBzeXNjdGwgLW4gaHcuY3B1ZnJlcXVlbmN5X21pbmAvMTAwMDAwMCkpCkNQVUZyZXF1
	ZW5jeT0kKChgc3lzY3RsIC1uIGh3LmNwdWZyZXF1ZW5jeWAvMTAwMDAwMCkpCkJVU0Zy
	ZXF1ZW5jeUZTQj0kKChgc3lzY3RsIC1uIGh3LmJ1c2ZyZXF1ZW5jeWAvMTAwMDAwMCkp
	CkJVU0ZyZXF1ZW5jeT0kKCgkQlVTRnJlcXVlbmN5RlNCLzQpKQpNVUxUSVBMSUVSX01B
	WD0kKGVjaG8gInNjYWxlPTE7IDQqJENQVUZyZXF1ZW5jeV9NQVgvJEJVU0ZyZXF1ZW5j
	eUZTQiIgfCBiYykKTVVMVElQTElFUl9NSU49JChlY2hvICJzY2FsZT0xOyA0KiRDUFVG
	cmVxdWVuY3lfTUlOLyRCVVNGcmVxdWVuY3lGU0IiIHwgYmMpCgpNRU1TSVpFPSQoKGBz
	eXNjdGwgLW4gaHcubWVtc2l6ZWAvMTA0ODU3NikpClN3YXBVc2FnZT0iYHN5c2N0bCAt
	biB2bS5zd2FwdXNhZ2VgIgpIaWJlcm5hdGVNb2RlPSJgc3lzY3RsIC1uIGtlcm4uaGli
	ZXJuYXRlbW9kZWAiCgojQ1BVIEZlYXR1cmVzOiAkQ1BVX0ZFQVRVUkVTIC0gcmVtb3Zl
	ZApjYXQgPDwgRU9GClByb2R1Y3ROYW1lOiAgIE1hYyBPUyBYICRQcm9kdWN0VmVyc2lv
	biAkQnVpbGRWZXJzaW9uCktlcm5lbDogICAgICAgICRLRVJOX1ZlcnNpb24KQm9vdGFy
	Z3M6ICAgICAgJEtFUk5fQm9vdGFyZ3MKTW9kZWwgSUQ6ICAgICAgJE1PREVMX0lECkNQ
	VSBUWVBFOiAgICAgICR7Q1BVX1RZUEV9CkNvcmU6ICAgICAgICAgICRDUFVGcmVxdWVu
	Y3lfTUFYKCRDUFVGcmVxdWVuY3lfTUlOKSBNSHogeCAkTVVMVElQTElFUl9NQVgoJE1V
	TFRJUExJRVJfTUlOKSBCdXM6ICRCVVNGcmVxdWVuY3kgTUh6IEZTQjogJEJVU0ZyZXF1
	ZW5jeUZTQiBNSHoKUkFNOiAgICAgICAgICAgJE1FTVNJWkUgTWIKU3dhcFVzYWdlOiAg
	ICAgJFN3YXBVc2FnZQpIaWJlcm5hdGVNb2RlOiAkSGliZXJuYXRlTW9kZQpVc2VyOiAg
	ICAgICAgICAkVVNFUiBvbiAkS0VSTl9Ib3N0bmFtZQoKU3RhcnQgd29ya2luZzogJFRl
	c3RfVGltZQpFT0YKCmNhc2UgIiR7S2Vybk9TUmVsZWFzZX0iIGluCiAgICBbMC04XSkK
	CQllY2hvICJEZXRlY3RlZCAuLi4gdW5zdXBwb3J0ZWQgTUFDIE9TIFggc3lzdGVtLiIK
	ICAgICAgICA7OwogICAgOSkKCQllY2hvICJEZXRlY3RlZCAgLi4uICBNQUMgT1MgWCBc
	Ikxlb3BhcmRcIi4iCiAgICAgICAgOzsKICAgIDEwKQoJCWVjaG8gIkRldGVjdGVkICAu
	Li4gIE1BQyBPUyBYIFwiU25vdyBMZW9wYXJkXCIuIgogICAgICAgIDs7CiAgICAxMSkK
	CQllY2hvICJEZXRlY3RlZCAgLi4uICBNQUMgT1MgWCBcIkxpb25cIi4iCiAgICAgICAg
	OzsKICAgIFsxMi0yMF0pCgkJZWNobyAiRGV0ZWN0ZWQgIC4uLiAgTUFDIE9TIFggXCJV
	bmtub3duXCIuIgogICAgICAgIDs7CmVzYWMKZWNobwp9CgpFcnJNU0coKSB7CQoJI0lm
	IHdlIGdldCBlcnJvciB0aGVuIHByaW50IHRoZSB1c2FnZSBtZXNzYWdlIGFuZCBleGl0
	IHdpdGggYSBub24temVybyBzdGF0dXMKCQoJbWVtb01TRwoJdXNhZ2UKfQoKbWVtb01T
	RygpIHsKCSMgUHJvZ3JhbW0gYXR0cmlidXRlcwpjYXQgPDwgRU9GCgogICAgICAgICAg
	ICAgICAgICAgICAgICAtLSBpYXNsTWUgdiRWZXJzaW9uIMKpICRDcmVhdG9yICRSZWxl
	YXNlZCAtLQogICAgICAgICAgICAgICAgICAgICAgICAgICAgIE1hYyBPUyBYIExpb24g
	cmVhZHkKICAgICAgICAgICAgICAgICAgICAgLSAoRGUpQ29tcGlsaW5nIEFTTCA8LT4g
	QU1MIGZpbGVzIC0KICAgICAgIC0gJEFTTFZlcnNpb24gaW5zaWRlIC0KICAgICAgICAg
	ICAgICAgICAgICAgICAgICAgICAgY3ZhZC1tYWMubmFyb2QyLnJ1CiAgICAgICAgICAg
	ICAgICAgICAgICAgICAgICAgICB3d3cuYXBwbGVsaWZlLnJ1CgpFT0YKfQoKdXNhZ2Uo
	KSB7CgkjIFVzYWdlIGZvcm1hdApjYXQgPDxFT0YKCiAgICAgICAgVXNhZ2U6IAoKICAg
	ICAgICBEcm9wIEFOWSBmaWxlIHdpdGggdmFsaWQgZXh0ZW50aW9uICgqLmRzbDsgKi5h
	bWwpCiAgICAgICAgb24gYXBwIGljb24uCiAgICAgICAgSXQgd2lsbCBiZSBDb21waWxl
	ZC9EZUNvbXBpbGVkIGFuZCBwbGFjZWQgbmVhcgogICAgICAgIGlucHV0IGZpbGUuCiAK
	RU9GCn0KCmNvbXBpbGVGaWxlKCkJCXsKCQoJRnVsbElucHV0TmFtZT0iJDEiCglEaXJJ
	bnB1dE5hbWU9JChkaXJuYW1lICIke0Z1bGxJbnB1dE5hbWV9IikKCUJhc2VJbnB1dE5h
	bWU9JChiYXNlbmFtZSAiJHtGdWxsSW5wdXROYW1lfSIpCgoJU2Vzc2lvbk5hbWU9IiRE
	aXJJbnB1dE5hbWUvU2Vzc2lvbnMvYGRhdGUgXCIrJVktJW0tJWQtJUglTSVTXCJgIgoJ
	bWtkaXIgLXAgIiR7U2Vzc2lvbk5hbWV9IgoJCglCYXNlVGFyZ2V0TmFtZT0iJHtCYXNl
	SW5wdXROYW1lJWRzbH1hbWwiCglGdWxsVGFyZ2V0TmFtZT0iJHtTZXNzaW9uTmFtZX0v
	JHtCYXNlVGFyZ2V0TmFtZX0iCglEaXJUYXJnZXROYW1lPSQoZGlybmFtZSAiJHtGdWxs
	VGFyZ2V0TmFtZX0iKQoKCQpjYXQgPDxFT0YKVGFzazoKIENvbXBpbGUgIiR7RnVsbElu
	cHV0TmFtZX0iCiB0byAgICAgICIke0Z1bGxUYXJnZXROYW1lfSIKRU9GCgplY2hvCmVj
	aG8gIlN0YXJ0IHdvcmtpbmcgLi4uIgplY2hvCgpwcmludGYgIkNvbXBpbGluZyAuLi4g
	IgoKIiR7VXRpbFBhdGh9aWFzbCIgLTIgLXAgIiR7RnVsbFRhcmdldE5hbWUlLmRzbH0i
	IC1vdCAtdm8gIiR7RnVsbElucHV0TmFtZX0iID4gIiR7RGlyVGFyZ2V0TmFtZX0vbG9n
	LnR4dCIKCnByaW50ZiAiRG9uZS5cbiIKCmNhdCAiJHtEaXJUYXJnZXROYW1lfS9sb2cu
	dHh0IgoKfSAKCmRlQ29tcGlsZUZpbGUoKQkJewoJCglGdWxsSW5wdXROYW1lPSIkMSIK
	CURpcklucHV0TmFtZT0kKGRpcm5hbWUgIiR7RnVsbElucHV0TmFtZX0iKQoJQmFzZUlu
	cHV0TmFtZT0kKGJhc2VuYW1lICIke0Z1bGxJbnB1dE5hbWV9IikKCglCYXNlVGFyZ2V0
	TmFtZT0iJHtCYXNlSW5wdXROYW1lJWFtbH1kc2wiCglGdWxsVGFyZ2V0TmFtZT0iJHtG
	dWxsSW5wdXROYW1lJWFtbH1kc2wiCglEaXJUYXJnZXROYW1lPSIke0RpcklucHV0TmFt
	ZX0iCgoJCmNhdCA8PEVPRgpUYXNrOgogRGVDb21waWxlICIke0Z1bGxJbnB1dE5hbWV9
	IgogdG8gICAgICAgICIke0Z1bGxUYXJnZXROYW1lfSIKRU9GCgplY2hvCmVjaG8gIlN0
	YXJ0IHdvcmtpbmcgLi4uIgplY2hvCgoJaWYgWyAtZSAiJEZ1bGxUYXJnZXROYW1lIiBd
	CgkJdGhlbgoJCQlwcmludGYgIkJhY2tVcCBleGlzdGluZyBcIiR7QmFzZVRhcmdldE5h
	bWV9XCIgdG8gXCIke0Jhc2VUYXJnZXROYW1lJWRzbH1iYWsuZHNsXCIgLi4uICIKCQkJ
	bXYgLWYgIiRGdWxsVGFyZ2V0TmFtZSIgIiR7RnVsbFRhcmdldE5hbWUlZHNsfWJhay5k
	c2wiCgkJCXByaW50ZiAiRG9uZS5cbiIKCQkJZWNobwoJZmkKCnByaW50ZiAiRGVDb21w
	aWxpbmcgLi4uICIKCiIke1V0aWxQYXRofWlhc2wiIC0yIC1kICIke0Z1bGxJbnB1dE5h
	bWV9IiA+ICIke0RpclRhcmdldE5hbWV9L2xvZy50eHQiCgpwcmludGYgIkRvbmUuXG4i
	CgoKY2F0ICIke0RpclRhcmdldE5hbWV9L2xvZy50eHQiCgp9IAoKCmVuZFByb2dyYW0o
	KSB7CgojICAgICAgIEhhdmUgYSBuaWNlIGRheShuaWdodCkgLi4uCgpjYXQgPDxFT0YK
	CiAgICAgICAgQWxsIGRvbmUuCiAgICAgICAgRW5qb3kgLi4uCiAKRU9GCn0KCgptYWlu
	KCkgewoKIyBUZXN0IGlmIGRyb3AgcGFyYW1ldGVyIHJlY2lldmVkCgppZiBbIC1uICIk
	e0Z1bGxEcm9wTmFtZX0iIF0KCXRoZW4KCgkJIyBmaWxlbmFtZSBleGlzdCwgdGVzdCBp
	ZiBpdCBjb3JyZWN0LgoKCQljYXNlICIke0Jhc2VEcm9wTmFtZX0iIGluIAoJCQkjIGlm
	IGZpbGVuYW1lIG1hdGNoICouYW1sIHRoZW4gdW5wYWNrLgoJCQkqLmFtbCkgCgkJCQlt
	ZW1vTVNHCgkJCQlTeXN0ZW1TcGVjTVNHCgkJCQlkZUNvbXBpbGVGaWxlICIke0Z1bGxE
	cm9wTmFtZX0iCgkJCQllbmRQcm9ncmFtCgkJCQlleGl0IDAKCQkJCTs7IAoKCQkJIyBp
	ZiBmaWxlbmFtZSBtYXRjaCAqLmRzbCBleHRlbnNpb25zCgkJCSouZHNsKSAKCQkJIyB0
	aGVuIGNvbXBpbGVGaWxlCgkJCQltZW1vTVNHCgkJCQlTeXN0ZW1TcGVjTVNHCgkJCQlj
	b21waWxlRmlsZSAiJHtGdWxsRHJvcE5hbWV9IgoJCQkJZW5kUHJvZ3JhbQoJCQkJZXhp
	dCAwCgkJCQk7OyAKCQoJCQkqKQoJCQkJRXJyTVNHCgkJCQllY2hvICIgICAgICAgIElu
	cHV0IGZpbGU6ICR7RnVsbERyb3BOYW1lfSIKCQkJCWVuZFByb2dyYW0KCQkJCWV4aXQg
	MgogCQllc2FjIAoKZmkKfQoKIyMjIyBzY3JpcHQgZXhlY3V0aW9uIHJvdXRpbmUgIyMj
	IwoKbWFpbgoKRXJyTVNHCmVuZFByb2dyYW0KCmV4aXQgMgoKEgABhqBfEA9OU0tleWVk
	QXJjaGl2ZXIACAARABYAHwAoADIANQA6ADwAPwBFFNwU4QAAAAAAAAIBAAAAAAAAAA0A
	AAAAAAAAAAAAAAAAABTz
	</data>
	<key>TextSize</key>
	<real>10</real>
</dict>
</plist>
